<nav class="my-[20px] fixed w-full">
    <EditForm FormName="search-form" Model="@Model" OnSubmit="SubmitHandler" class="search-bar flex">
        <InputText @bind-Value="Model.Text" required placeholder="Search by title, author or genre" />
        <button type="submit">
            Search
        </button>
    </EditForm>
</nav>

@code{
    [SupplyParameterFromForm]
    private SearchModel Model { get; set; } = new();
    async Task SubmitHandler()
    {
        Console.WriteLine("Search initiated ...");
        await Task.Delay(1500);
        Console.WriteLine("Search completed");
    }

    class SearchModel
    {
        public string Text { get; set; } = string.Empty;
    }
}
